{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h2>ACME shop</h2>

Thank you for your order. You can pay via Credit Card using these methods:

<ul>
    <li>
        <a href="{% url 'live_update' %}">Live Update</a>
    </li>

    <li>
        <a href="{% url 'obtain_ipn_token' %}">Obtain IPN Token</a>
    </li>

    <li>
        <a href="{% url 'alu_payments' %}">ALU Payments</a>
    </li>

    <li>
        <a href="{% url 'token_payments' %}">Token Payments</a>
    </li>
</ul>

{% endblock %}
