{% extends 'base.html' %}
{% load i18n %}

{% block extra_title %} - Token {% endblock %}

{% block content %}

<h2>Token payment example</h2>

<p>
    Order Items
    {% for order in orders %}
        <ul>
            {% for detail, value in order.items %}
                <li>
                    <code>
                        {{ detail }}: {{ value }}
                    </code>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</p>

<p>
    Order Details
    <ul>
        {% for detail, value in details.items %}
            <li>
                <code>
                    {{ detail }}: {{ value }}
                </code>
            </li>
        {% endfor %}
    </ul>
</p>

<p>
    Order Hash: {{ order_hash }}
</p>

<form action="https://secure.payu.ro/order/lu.php" method="post">
    {{ form }}
    <button type="submit" class="btn btn-primary pay"><i class="icon-chevron-right"></i>
        {% trans "Pay by Card - using Live Update method" %}
    </button>
</form>

{% endblock %}
